:host{
    display: grid;
    grid-template-rows: 25vh 50vh;
    background-color: rgba(128, 128, 128, 0.281);
    margin: auto auto;
    padding: 1rem;
    height: 70%;
    width: 50%;
}
label{
    font-weight: bold;
}